#This file should be filled out, renamed to "local.py" and
#moved to the modpython folder before the module us used

#SID from Twilio account
TWILIO_SID = ''

#Token from Twilio account
TWILIO_TOKEN = ''

#Intro statement for the module (put "\n" wherever you want a new line
INTRODUCTION = 'Welcome to the COS Text-On-Message module!\nTo begin with, make sure that you have a number set.\n' \
               'Then, the module will automatically begin sending you texts ' \
               'when you receive a message while offline or set as away.\n' \
               'then, type "/msg *textonmsg help" to receive a list of ' \
               'commands that can be entered into the module\n'